@media screen and (max-width:1000px) {
    nav {
        flex-direction: column;


    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
        height: 34px;
    }

    .search {

        justify-content: center;
    }

    .search input {
        margin: 12px 16px;
        width: 35vh;
    }

    .slider {
        height: 53vh;
        width: 80vw;
        overflow: hidden;

    }

    .search img {
        margin: 0 94px;

    }

    .card-item {
        width: 650px;
    }
}